.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-style: normal;
    margin: 0 160px;
    background-color: #e8ecea;
  }
/*  nav style*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 160px; */
}
.text-title{
    font-size: 32px;
    color: #0E0E0E;
}
.btn-primary{
    border-radius: 8px;
    padding: 15px 30px;
    border-color: #006A50;
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    background-color: white;
}

/* banner style */
.banner{
    background-color:#C6E4D6;
    /* margin: 0 160px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px;
    gap: 64px;
    border-radius: 24px;
    margin-bottom: 80px;
}
.banner-subtitle{
    font-size: 24px;
    font-weight: 400;
    color:0E0E0E;
    opacity: 50%;
    margin-bottom: -30px;
}
.banner-title{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;

}
.banner-btn{
    border-radius: 8px;
    padding: 17px 17px;
    background-color: #006A50;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    border: none;
    margin-bottom: 24px;
}

/* cards style */

.cards{
    display: flex;
    gap: 24px;
}

.card{
    background-color: #ffffff;
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 24px;
    border-width: 1px;
    border-style: solid;
    border-color: #cdcbcb;
}
.card-title{
font-size: 20px;
font-weight: bold;
color: #0E0E0E;
opacity: 80%;
margin-bottom: 12px;
}
.card-description{
    font-size: 16px;
    color: #0E0E0E;
    opacity: 70%;
    line-height: 24px;
    /* margin-top: 12px; */
}

.h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}
.p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
}

/* vision card style */
.vision-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-bottom: 32px;
}
/* vision card 1 */
.vision-card-1{
    padding: 32px;
    background-color:rgba(84, 144, 245, 0.2)
}
.vision-btn-1{
    padding: 15px ;
    border-radius: 8px;
    border: none;
    background-color: #5490F5;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}
/* vision card 2 */
.vision-card-2{
    padding: 32px;
    background-color: rgba(198, 228, 214, 1);
}
.vision-btn-2{
    padding: 15px ;
    border-radius: 8px;
    border: none;
    background-color: #09A15C;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}
/* vision card 3 */
.vision-card-3{
    padding: 32px;
    background-color: rgba(247, 235, 207, 1);
}
.vision-btn-3{
    padding: 15px ;
    border-radius: 8px;
    border: none;
    background-color: #FFC239;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}
/* Quote style */
.quote{
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color:rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 48px 24px;
    margin-bottom: 80px;
}
.quote-description{
    margin-top: -50px;
    font-size: 16px;
    color: #0E0E0E;
    line-height: 24px;
    text-align: justify;
    margin-bottom: 12px;
}
.quote-title{
    font-size: 20px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 4px;
}
.quote-sub-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.6);
    line-height: 24px;
}

/* recent news title */
.news-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.news-subtitle{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
    margin-bottom: 32px;
}


.news-card-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 48px;
    margin-bottom: 80px;
    background-color: white;
    border-radius: 16px;
    margin-bottom: 24px;
}
.news-card-title{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
    opacity: 80%;
    margin-bottom: 12px;
}
.span{
    font-size: 16px;
    color: #0E0E0E;
    opacity: 70%;
    line-height: 24px;
}
.news-description{
    font-size: 16px;
    color: #0E0E0E;
    opacity: 70%;
    line-height: 24px;
    margin-bottom: 32px;
}
.news-btn{
    padding: 13px 26px;
    border-radius: 8px;
    background-color: #006A50;
    border: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
}

/* donate style */
.donate{
    gap: 24px;
    /* height: 400px; */
}

.donate-cards{
    margin: 0 104px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 12px;    
}
.donate-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    text-align: center;
    margin-bottom: 24px;
}
.donate-subtitle{
    font-size: 16px;
    color: #0E0E0E;
    opacity: 70%;
    text-align: center;
    padding: 0 88px;
    margin-bottom: 32px;
}

.donate-card{
    background-color: #ffffff;
    border-radius: 16px;
}
.donate-card-2{
    background-color: #C6E4D6;
    border-radius: 16px;
}
.donate-amount{
font-size: 40px;
font-weight: bold;
color: #0E0E0E;
opacity: 80%;
padding: 40px;
}

.input{
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 20px;
    background-color: white;
    border: none;
}
.input-container{
    margin: 32px 150px;

}

.btn-donate{
    border-radius: 8px;
    padding: 17px 34px;
    border-color: #006A50;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    background-color: #006A50;
    border: none;
    /* text-align: center; */
}
.btn-div{
    margin: 0 600px;
}


.subscribe-content{
    background-color: rgba(198, 228, 214, 1);
    /* margin: 80px 265px; */
    border-radius: 16px;
}
.H2{
        padding-top: 80px;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        color: #0E0E0E;

}
.P{
    text-align: center;
    font-size: 16px;
    color: #0E0E0E;
    opacity: 70% ;
    line-height: 24px;
    margin: 16px 350px;
}

.enter-email{
    margin: 20px 450px 24px 320px;
    padding: 20px 40px;
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    width: 500px;
}
.btn-subs{
    padding: 18px 40px ;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #006A50;
    margin-left: -500px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}
.subs-subtitle{
    text-align: center;
    font-size: 12px;
    color: #0E0E0E;
    opacity: 60%;
    margin-bottom: 80px;
    padding-bottom: 60px;
}






